# Ignore Visual Studio 2008 files
*.orig
*.sqlite
*.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.local.xml
*.local.xml
*.ncrunchproject
*.ncrunchsolution
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
Uploads/
App_Data/
_CreateNewNuGetPackage/
packages/
New-NuGetPackages/
